<?xml version="1.0" encoding="utf-8" ?>
<configuration>

	<connectionStrings>
		<add name="MyDbConn"
			 connectionString="Data Source=C:\Users\ma705\Desktop\MyRealProject\Awlad-Ali-Cashier\Code\AwladAli\bin\x86\Debug\AwladAli.db;Version=3;"
			 providerName="System.Data.SQLite" />
	</connectionStrings>

	<appSettings>
		<add key="BackupFolder" value="C:\Users\ma705\Desktop\MyRealProject\Awlad-Ali-Cashier\Code\AwladAli\DatabaseBackups\Backups" />
		<add key="LogFolder" value="C:\Users\ma705\Desktop\MyRealProject\Awlad-Ali-Cashier\Code\AwladAli\DatabaseBackups\Logs" />
		<add key="BackupIntervalMinutes" value="60" />
	</appSettings>

</configuration>